<!doctype html>
<html>
<head>

  <title>poly-toolbox-behavior</title>

  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../../polymer/polymer.html">
  <link rel="import" href="../poly-toolbox-behavior.html">
</head>
<body>
  <p>
    For results, look at the console.
  </p>

  <div closest>
    <button type="button" id="btnClosest">Find closest</button>
  </div>

  <script>
    window.addEventListener('WebComponentsReady', function() {
      var _$ = Polymer.PolyToolboxBehavior[0]._$;
      var btnClosest = document.getElementById('btnClosest');

      btnClosest.addEventListener('click', function() {
        console.log(_$.closest(btnClosest, 'div'));
        console.log(_$.closest(btnClosest, '[closest]'));
        console.log(_$.closest(btnClosest, 'button'));
        console.log(_$.closest(btnClosest, 'body'));
        console.log(_$.closest(btnClosest, 'something')); // Should return `undefined`
      });
    });
  </script>
</body>
</html>
